.footer {
    &__content {
        color: $color-texto;
        height: 40px;
    }

    &__btn {
        color: $color-texto;
        border: 1px solid $color-texto;
        margin-left: 10px;
        height: 30px;
        line-height: 1;
        border-radius: 0;

        &:hover {
            background-color: $color-texto;
            color: rgb(33, 37, 41);
        }
    }

    &__question {
        font-weight: 700;
        font-size: 1.1rem;
    }
}